.container-page-info-curso {
    width: 100%;
    min-height: 100vh;
}

.containerCursoInfoDetails {
    width: 100%;
    min-height: 90vh;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.cursoDetailBox {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 20px;
    position: relative;
}

.cursoDetailBox h2 {
    font-weight: 600;
    font-size: 35px;
    width: 50%;
}

.cursoDetailBox img {
    max-width: 150px;
}

.cardBoxDetails {
    width: 400px;
    height: 450px;
    background-color: #fff;
    border: 1px solid silver;
    position: absolute;
    right: 0px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}

.cardBoxDetails p {
    text-align: center;
}

.cardBoxDetails h2 {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.modalidadebox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.modalidadebox button {
    background-color: transparent;
    border: 1px solid #4345cf;
    padding: 10px;
    border-radius: 10px;
    color: #4345cf;
    transition: 0.3s ease;
    font-weight: 600;
}

.modalidadebox button:hover {
    background-color: #8587ff8e;
}

#btnGarantirbolsa {
    position: absolute;
    bottom: 30px;
    width: 90%;
    height: 40px;
    background-color: #4345cf;
    color: #fff;
    font-size: 18px;
    transform: translate(-50%, 50%);
    left: 50%;
    border-radius: 10px;
}

.Box-info-details-curso{
    width: 60%;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 15px;
}