.container-home {
    width: 100%;
    min-height: 100vh;
}

.section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section2 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.bolsasInteressantes {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    width: 100%;
    text-align: center;

}

.title h2 {
    color: #2d2d2d;

}

.box-categorias-setor {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item-categoria-setor {
    width: 300px;
    height: 100px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
}

.item-categoria-setor h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 5px 5px 10px black;
}

.section3 {
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
}

.container-novidades {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.novidade1 {
    width: 40%;
    height: 300px;
    background-color: silver;
}

.container-novidade2e3 {
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.novidade23 {
    width: 100%;
    height: 150px;
    background-color: silver;
}

.section4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container-instituicoes {
    width: 70%;
    height: auto;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;

}

.container-instituicoes img {
    max-width: auto;
    height: 60px;
    object-fit: cover;
}

.section5 {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

#btnwhats {
    position: fixed;
    background-color: #1EDD56;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    bottom: 30px;
}

@media(max-width:500px) {
    .section1 {
        height: 85vh;
    }

    .box-categorias-setor {
        flex-direction: column;
        align-items: center;
    }

    .container-novidades {
        flex-direction: column;
        align-items: center;
    }

    .novidade1,
    .container-novidade2e3 {
        width: 90%;
        height: 200px;
    }

    .section5 {
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }

    .container-search-cursos {
        width: 100%;
    }


    .ilustracao-container-search {
        display: none;
    }

    .label-box-escolha {
        width: 90%;
        align-items: center;
    }
}

@media(max-width:390px) {
    .section1 {
        height: 100vh;
    }
}