.bolsasInteressantes {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.bolsasInteressantes h2 {
    font-weight: 800;
    color: #2d2d2d;
}

.carrosselSlideBolsas {
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: 10px;
}


.bolsaItem {
    width: 350px;
    height: 300px;
    border: 1px solid silver;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}

.bolsaItem img {
    max-width: 150px;
}

.box-modalidades-localidades {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
}

.bolsaItem h2 {
    font-size: 20px;
}