.header {
    width: 100%;
    height: auto;

}

.titlebolsa {
    width: 100%;
    height: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebolsa h2 {
    color: #1d4a9c;
    font-size: 18px;
}

.header-main {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4345CF;
}

.header-main img {
    width: 100px;
    cursor: pointer;
}

.nav-btns {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-btns button {
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.header-main input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    padding-left: 5px;
    outline: none;
}

.user-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.user-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;

}

#menubtnmobile {
    background-color: transparent;
}


.menu-mobile {
    width: 90%;
    min-height: 100vh;
    background-color: #fff;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    padding: 10px;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 50px 10px #000;
}

.menu-mobile h3 {
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
}

.btn-area-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    gap: 10px;
}

.btn-area-mobile button {
    width: 90%;
    height: 55px;
    background-color: #1d4a9c;
    color: #fff;
    font-size: 18px;

}

.btn-area-mobile a {
    text-decoration: none;
    width: 90%;
    height: 55px;
    color: #1d4a9c;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-btn-mobile {
    background-color: transparent;
    margin: 20px;
    width: min-content;
    font-size: 18px;
}

.profile-box {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-box span {
    color: #fff;
}

.profile-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-profile{
    width: 300px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    right: 0px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:500px) {
    .titlebolsa h2 {
        font-size: 13px;
    }

    .nav-btns,
    .user-nav {
        display: none;
    }

    .header-main {
        justify-content: space-around;
    }

    .header-main input {
        width: 230px;
    }
}

@media(max-width:420px) {
    .header-main input {
        width: 180px;
    }
}