.container-search-cursos {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.box-pai-search {
    width: 80%;
    height: 300px;
    background-color: #4345cf;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.btns-tipo-graduacao {
    width: 80%;
    height: 60px;
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    position: absolute;
    top: -30px;
    justify-content: space-around;
}

.btns-tipo-graduacao button {
    width: 35%;
    background-color: transparent;
    font-size: 20px;
    height: 100%;
    transition: 0.3s ease;
    color: white;
}

.btns-tipo-graduacao button:hover {
    background-color: #4345cf;
    color: #fff;
}

.box-inputs-escolha {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.box-inputs-escolha input,
.box-inputs-escolha select {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    padding-left: 5px;
    outline: none;
}

.label-box-escolha {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
}

.label-box-escolha label {
    color: #fff;

}

.box-input-progress {
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.label-box-chekbox {
    display: flex;
    gap: 10px;
    color: #fff;
}

#btn-encontrar {
    width: 60%;
    height: 40px;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s ease;
}

#btn-encontrar:hover {
    background-color: #616161;
}


@media(max-width:500px) {
    .box-pai-search {
        width: 100%;
        border-radius: 0;
        height: auto;
        padding: 20px;
    }

    .btns-tipo-graduacao {
        width: 90%;
        height: 50px;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        position: absolute;
        top: -25px;
        justify-content: space-around;
    }

    .btns-tipo-graduacao button {
        font-size: 10px;
    }

    .label-box-escolha {
        width: 29%;
    }

    .label-box-escolha label {
        font-size: 18px;
        text-align: center;
    }

    .box-inputs-escolha {

        width: 100%;
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;

    }

    .box-inputs-escolha input,
    .box-inputs-escolha select {
        font-size: 10px;
        width: 85%;
        height: 30px;
    }

    .box-input-progress {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}